@model List<ResultBookingDto>
@{
	ViewData["Title"] = "Rezervasyonlar";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>


<script>

    $(document).ready(function () {

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("https://localhost:7171/SignalRHub")
            .build();

        $("#connstatus").text(connection.state);

        connection.start()
            .then(function () {
                $("#connstatus").text(connection.state);
                setInterval(()=> {

					connection.invoke("GetBookingList");


                }, 5000);
            })
            .catch(function (err) {
                console.error(err.toString());
            });

			connection.on("ReceiveBookingList", function (value) {
                console.log(value);
				let tablehtml = `<table class="table mt-3">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Ad Soyad</th>
											<th scope="col">Telefon</th>
											<th scope="col">Kişi Sayısı</th>
											<th scope="col">Rezervasyon Durumu</th>
											<th scope="col">Güncelle</th>
											<th scope="col">Sil</th>
										</tr>
									</thead>
									<tbody>
							`
							$.each(value,(index,item)=>{
								tablehtml+= `<tr>
								<td>${item.bookingID}</td>
								<td>${item.name}</td>
								<td>${item.phone}</td>
								<td>${item.personCount}</td>
								<td>Rezervasyon Alındı</td>

								<td><a href="/Booking/UpdateBooking/${item.bookingID}" class="btn btn-sm btn-warning">Güncelle</a></td>
								<td><a href="/Booking/DeleteBooking/${item.bookingID}" class="btn btn-sm btn-danger">Sil</a></td>
								</tr>`
							});
							tablehtml+=`
							</tbody>
						</table>
							`;
				$("#bookingList").html(tablehtml);
            });

    });
</script>

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Rezervasyon İşlemleri</h4>

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Rezervasyon Listesi</div>
						<br />
						<a href="/Booking/CreateBooking" class="btn btn-sm btn-success">Yeni Rezervasyon Girişi</a>

					</div>
					<div class="card-body">
						<div class="card-sub">
							Rezervasyon ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz
						</div>
						@* <table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Ad Soyad</th>
									<th scope="col">Telefon</th>
									<th scope="col">Kişi Sayısı</th>
									<th scope="col">Rezervasyon Durumu</th>
									<th scope="col">Güncelle</th>
									<th scope="col">Sil</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.BookingID</td>
										<td>@item.Name</td>
										<td>@item.Phone</td>
										<td>@item.PersonCount</td>
										<td>Rezervasyon Alındı</td>
										<td><a href="/Booking/UpdateBooking/@item.BookingID" class="btn btn-sm btn-warning">Güncelle</a></td>
										<td><a href="/Booking/DeleteBooking/@item.BookingID" class="btn btn-sm btn-danger">Sil</a></td>
									</tr>
								}
							</tbody>
						</table> *@
						<div id="bookingList"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
