@model List<ResultTestimonialDto>
@{
	ViewData["Title"] = "Referanslar";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Referans İşlemleri</h4>

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Referans Listesi</div>
						<br />
						<a href="/Testimonial/CreateTestimonial" class="btn btn-sm btn-success">Yeni Referans Girişi</a>

					</div>
					<div class="card-body">
						<div class="card-sub">
							Referans ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Ad Soyad</th>
									<th scope="col">Ünvan</th>
									<th scope="col">Açıklama</th>
									<th scope="col">Güncelle</th>
									<th scope="col">Sil</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.TestimonialID</td>
										<td>@item.Name</td>
										<td>@item.Title</td>
										<td>@item.Comment</td>
										<td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-sm btn-warning">Güncelle</a></td>
										<td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-sm btn-danger">Sil</a></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
