@model CreateFeatureDto
@{
    ViewData["Title"] = "Öne Çıkan Alan Ekle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkan Alan İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Öne Çıkan Alan Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="l">Başlık 1</label>
                                <input asp-for="Title1" class="form-control" id="l">
                            </div>
                            <div class="form-group">
                                <label for="q">Açıklama 1</label>
                                <input asp-for="Description1" class="form-control" id="q">
                            </div>
                            <div class="form-group">
                                <label for="2">Başlık 2</label>
                                <input asp-for="Title2" class="form-control" id="2">
                            </div>
                            <div class="form-group">
                                <label for="e">Açıklama 2</label>
                                <input asp-for="Description2" class="form-control" id="e">
                            </div>
                            <div class="form-group">
                                <label for="al">Başlık 3</label>
                                <input asp-for="Title3" class="form-control" id="al">
                            </div>
                            <div class="form-group">
                                <label for="ww">Açıklama 3</label>
                                <input asp-for="Description3" class="form-control" id="ww">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Öne Çıkan Alan Ekle</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

