@model UpdateProductDto
@{
    ViewData["Title"] = "Ürün Güncelle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ürün İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Güncelleme Sayfası</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="ProductID"/>
                            <div class="form-group">
                                <label for="Productname">Ürün Adını Giriniz</label>
                                <input type="text" asp-for="ProductName" class="form-control" id="Productname">
                            </div>
                            <div class="form-group">
                                <label for="price">Ürün Fiyatını Giriniz</label>
                                <input asp-for="Price" class="form-control" id="price">
                            </div>
                            <div class="form-group">
                                <label for="imageUrl">Ürün Görselini Yükleyiniz</label>
                                <input type="text" asp-for="ImageUrl" class="form-control" id="imageUrl">
                            </div>
                            <div class="form-group">
                                <label for="price">Ürün Kategorisini Seçiniz</label>
                                @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                            </div>

                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Ürün Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
